
.card,
.bot-card {
  width: 4.5em;
  height: 6.25em;
  border: 2px solid #333;
  border-radius: 8px;
  background-color: white;
  position: relative;
  font-family: 'Arial', sans-serif;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  cursor: pointer;
  user-select: none;
  float: left;
  opacity: 1;
}

.bot-cards .card {
  width: 3.5em;
  height: 5em;
}

/*
.undealt {
  position: fixed;
  Left: 0;
  top: 0;
  transition: transform .5s ease; 
  animation: dealCard2 .5s ease-out forwards;
}
*/

@keyframes dealCard2 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(var(--dx), var(--dy)) scale(1.2);
  } 
  50% {
    transform: translate(var(--dx), var(--dy)) scale(1.4);
  } 
  75% {
    transform: translate(var(--dx), var(--dy)) scale(1.2);
  } 
  100% {
    transform-origin: center;
    transform: translate(var(--dx), var(--dy)) scale(1);
  }
}

.player-hand .card,
.pile-cards .card {
  border-color: #28a745;
  box-shadow: 0 0 10px #28a745;
  margin-right: -2.5em;
}

.player-faceup .card {
  border-color: #28a745;
  box-shadow: 0 0 10px #28a745;
  margin: .3em;
}

.player-mystery .card {
  border-color: #d65575;
  box-shadow: 0 0 10px #d65575;
  margin: .3em;
  margin-bottom: -6em;
}

.player-hand .card {
  border-color: #d6993e;
  box-shadow: 0 0 10px #d6993e;
}

.player-hand .card.faceDown,
.player-mystery .card.faceDown,
.player-hand .card.faceDown {
  border-color: white;
  background-color: #d6993e;
  box-shadow: 0 0 10px #d6993e;
}

.player-hand .card,
.player-mystery .card,
.player-faceup .card {
  opacity: 1;
}

.card.notDealt {
  transition: transform .1s ease;  /* was 0.5s  */
  animation: dealCard2 .1s ease-out forwards; /* was 0.6s  */
}

.card-swoop {
  height: 80px;
  margin: 10px 15px;
}

/*
.visible {
   animation-name: fadeIn;
      animation-duration: .5s; 
      animation-timing-function: ease-in; 
      animation-fill-mode: forwards; 
}
*/

.card.showEdge {
    margin-right: --5em;
}

.player-hand .card.faceDown.selected ,
.player-mystery .card.faceDown.selected,
.player-hand .card.faceDown.selected,
.card.selected {
  border-color: #007bff;
  box-shadow: 0 0 10px #007bff;
  background-color: white;
  transform: scale(1.05);
}

.corner {
  position: absolute;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.top-left {
  top: 2px;
  left: 2px;
}

.bottom-right {
  bottom: 2px;
  right: 2px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: bold;
}
.bot-cards {
    background-image: url(/swoop/bot.png);
    background-size: 5em;
    background-repeat: no-repeat;
}

.bot-cards strong span {
  color: blue;
  margin: 10px;
}