/* For smaller screens like phones, reduce the base font size */
@media screen and (min-height: 200px) and  (max-height: 500px) {
    html {
    font-size:65%; 
  }
}

@media screen and (min-height: 501px) and  (max-height: 600px) {
    html {
    font-size:80%; 
  }
}

@media screen and (min-height: 601px) and  (max-height: 700px) {
    html {
    font-size:90%; 
  }
}

@media screen and (min-height: 701px) and  (max-height: 1200px) {
    html {
    font-size:100%; 
  }
}

.container {
  width: 100vw;
  height: 100vh;
  border: .1rem solid #ccc;
  border-radius: .5rem;
  padding: 1rem;
  margin: 1rem;
  text-align: left;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  box-shadow: 0 .2rem .3rem rgba(0, 0, 0, 0.1);
  font-size:100% ;
  overflow-y: scroll;
}

.player-faceup {
  position: absolute;
}

.vertically-content-center {
  align-items: center;
}

.game-over {
    position: absolute;
    visibility: hidden;
    background-color: white;
    border: 2px solid black;
    top: 40vh;
    width: fit-content;
    min-width: 400px;
    padding: 20px;
    justify-self: center;
}

/* animate deal */

@keyframes myAnimation {
  from {background-color: red; transform: translateX(0) translateY(0) rotate(0deg)}
  to {background-color: yellow;  transform: translateX(630px) translateY(50px) rotate(1020deg)}
}

@keyframes dealCard {
  0% {
    transform: translate(0, 0) scale(1);
    transform-origin: center;
    opacity: 0;
  }
  25% {
    opacity: .25;
    rotate: 90deg;
    transform-origin: center;
    transform: translate(var(--dx), var(--dy)) scale(1.2);
  } 
  50% {
    opacity: .5;
    rotate: 180deg;
    transform-origin: center;
    transform: translate(var(--dx), var(--dy)) scale(1.2);
  } 
  50% {
    opacity: .75;
    rotate: 270deg;
    transform-origin: center;
    transform: translate(var(--dx), var(--dy)) scale(1.2);
  }
  100% {
    opacity: 1;
    transform-origin: center;
    transform: translate(var(--dx), var(--dy)) scale(1);
  }
}

.swoopCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 4.5rem;
  height: 6rem;
  background: white;
  border: 1px solid #333;
  border-radius: .5rem;
  transition: transform .1s ease;  /* was 0.5s  */
  animation: dealCard2 .1s ease-out forwards; /* was 0.6s  */
}

.settings-button {
  position: absolute;
  top:0;
  right:0
}